<h2>ジャンル一覧・追加</h2>

<div class="form-group">
  <%= form_with model: @genre, url:admins_genre_path,method: :post do |f| %>
  
  <%= f.label :ジャンル名 %>
  <%= f.text_field :name %>
  <%= f.submit "新規登録" ,class: "btn btn-success" %>

<% end %>
</div>

<thead>
  <tr>
    <th>ジャンル</th>
    <th>状態</th>
  </tr>
</thead>

<tbody></tbody>